body {
  background-image: url("../public/space-bj.avif");
}

#container {
  text-align: center;
  width: 75%;
  margin: 5rem auto 0;
  background-color: #1a1a1a;
  color: aliceblue;
  border-radius: 20px;
}

#planets {
  border: 2px solid white;
  border-radius: 20px;
}

#btnSide {
  padding: 3rem 0;
}

#contentSide {
  height: 600px;
}
